<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Codex</title>
    <link rel="icon" href="~/imagenes/Codex-Logo.png" />
    <link rel="stylesheet" href="~/css/style.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- NAVBAR PERSONALIZADO -->
    <header class="header" id="header">
        <nav class="nav_container">
            <a href="@Url.Action("Index", "Home")" class="nav_logo">Codex</a>
            <div class="nav_menu" id="nav_menu">
                <div class="nav_close" id="nav_close">
                    <img src="~/imagenes/circulo-marca-x (1).png" alt="Cerrar menú" />
                </div>

                <ul class="nav_list">
                    <li>
                        <a href="#" class="nav_link">
                            <img src="~/imagenes/carro-de-la-carretilla.png" alt="Carrito" class="nav_icon" />
                            <span class="nav_text">Compra</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Favoritos" asp-action="Favoritos" class="nav_link">
                            <img src="~/imagenes/me-gusta.png" alt="Favoritos" class="nav_icon" />
                            <span class="nav_text">Favoritos</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Auth" class="nav_link">
                            <img src="~/imagenes/usuario-extranjero (1).png" alt="Iniciar sesión" class="nav_icon" />
                            <span class="nav_text">Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="nav_toggle" id="nav_toggle">
                <img src="~/imagenes/menu (2).png" alt="Abrir menú" />
            </div>
        </nav>
    </header>

    <!-- CONTENIDO DE CADA VISTA -->
    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
